@using CaptchaDemo.Core.Data.Enum
@using CaptchaDemo.Core.Web.HtmlHlper
@model CaptchaDemo.Models.ContactViewMode
@{
	ViewBag.Title = "Test page";
}
<h2>@ViewBag.Title.</h2>
<h3>Please add book!</h3>

@using (Html.BeginForm("Contact", "Home",
	new { id = "MyIdValue" },
	FormMethod.Post))
{
	<div class="form-group">
		@Html.LabelFor(m => m.Title)
		@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Author)
		@Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.PageCount)
		@Html.TextBoxFor(m => m.PageCount, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Captcha)

		@Html.CaptchaFor(m => m.Captcha, CaptchaTypes.GameWords, new { @class = "form-control captcha-text-field" })

		@Html.ValidationMessageFor(m => m.Captcha)
	</div>

	<button class="btn btn-info">Send</button>
}